* {

    box-sizing: border-box;
}

body {

    background-color: #C7BCA1;
    margin: 0;
    padding: 0;
}

.header {

    display: flex;
    justify-content: space-between;
    background-color: #8B7E74;
    margin: 0;
    padding: 0;
    height: 30px;
}

.header-logo a:link {

    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: end;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-list a:link {

    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
  }
  
  nav-list a:active {
    text-decoration: underline;
