* {
  box-sizing: border-box;
}

body {
  background-color: #c7bca1;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  color: #32323d;
}

h1 {
  font-family: "Gill Sans", serif;
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-family: "Trebuchet MS", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-weight: 300;
}

/* ============================================================================================ */

/* menu */

/* Primary Header */

header {
  /* background-image: url(/10. course-work_wkspc/odin-recipes/images/hero.png); */
  background-color: #c7bca1;
  color: #32323d;
  padding: 20px 0;
  padding-left: 10px;
  padding-right: 50px;
}

header .container {
  display: flex;

  align-items: center;
}

header .logo {
  flex: 1;
}

header .logo img {
  max-width: 200px;
}

header .logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.logo a {
  color: #32323d;
  text-decoration: none;
}

.logo a:visited {
  text-decoration: none;
}

header nav {
  flex: 1;

  text-align: right;
}

header nav ul {
  list-style: none;

  margin: 0;

  padding: 0;
}

header nav ul li {
  display: inline-block;

  margin-left: 20px;
}

header nav ul li a {
  color: #32323d;

  text-decoration: none;
}

nav a:hover {
  color: #6c5f51;
}

#hero {
  background-image: url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}

.image-container {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  height: 600px;
  color: white;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}

.image-container > h1 {
  font-size: 60px;
  line-height: 0.2em;
  font-family: "Trebuchet MS", Times, serif;
}

.image-container > p {
  font-size: 25px;
  font-family: "Gill Sans MT", Times, serif;
  font-style: italic;
  padding-bottom: 50px;
}

.image-container > hr {
  border-bottom: solid 1px #f1d3b3;
  text-align: center;
  width: 10%;
  margin-top: 50px;
  margin: auto;
}

/* ============================================================================================= */

/* Section Styling */

.fish-section,
.chicken-section,
.lasagna-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 30px 150px 30px 100px;
}

.fish-section,
.lasagna-section {
  background-color: #8b7e74;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}



.button-container {
  padding-top: 30px;
}

.button {
  background-color: #f1d3b3;
  /* Green */
  border: none;
  color: #65647c;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 3px 3px 3px #32323d;
}

hr {
  border-bottom: solid 1px #f1d3b3;
  width: 20%;
  margin-left: 0;
}
/* ================================================================================================= */

/* footer Styling */

footer {
  margin: 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2f2d2b;
}

.footer img {
  max-width: 300px;
}

.footer p {
  font-size: 16px;
  margin-left: 30px;
}

.icons img {
  max-width: 70px;
  padding-right: 20px;
}

.end-line {
  display: inline;
  margin: auto;
}

.end-line p {
  margin-left: 30px;
  color: #2f2d2b;
}

.end-line a {
  text-decoration: none;
  color: #2f2d2b;
}

/* ======================================================================================================================== */

/* recipe page */

/* Title and Description section */

#title {
  background-color: #8b7e74;
}

#details hr {
  width: 60%;
  margin-left: auto;
}

#time {
  background-color: #f1d3b3;
  margin: 50px 200px 80px 200px;
  padding: 30px 100px 30px 100px;
  box-shadow: 3px 3px 3px #32323d;
}

.heading {
  display: flex;
  justify-content: center;
  gap: 3em;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;

  box-shadow: 3px 3px 3px #32323d;
}

.heading-image {
}

.description p {
  font-size: 18px;
}

.cooking-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cooking-time {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.instructions {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-left: 170px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ingredients,.method {

  flex: 1;
}

.ingredients ul,
.method ul {
  list-style: none;
  line-height: 1.5em;
  font-size: 18px;
}

.ingredients h2,
.method h2 {
  font-size: 28px;
  margin-left: 32px;
}

.ingredients hr {
  max-width: 50%;
 margin-right: 500px;
  
}

.method-image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nutrition {
  margin-left: 200px;
  margin-bottom: 100px;
}

.nutrition-facts {
  display: flex;
  justify-content: start;
  gap: 3em;
}

.nutrition hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
