* {
    box-sizing: border-box;
}

body {

    background-color: #C7BCA1;
    margin: 0;
    padding: 0;
}

/* menu */

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B7E74;
    margin: 0;
    padding: 0px;
    height: 50px;
}


.header-logo a:link {
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: end;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-list a:link {
    text-decoration: none;
}

.nav-list a:visited {
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list a:active {
    text-decoration: underline;
}

/* hero */

#hero {
    /* display: block; */
    background-image: url('https://i.cbc.ca/1.5357084.1573681011!/fileImage/httpImage/asian-sea-bass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    width: 100%;
    height: 600px;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.image-container {
    display: block;
    background: rgba(0, 0, 0, .6);
    height: 600px;
    z-index: 0;
}

